<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<style type="text/css">
<!--
.style2 {color: #E1EE68}
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
}
-->
</style>
</head>

<body>
<table width="100%" border="1" cellpadding="5" cellspacing="0">
  <tr>
    <th width="11%" scope="col">device/item</th>
    <th width="12%" scope="col">header</th>
    <th width="15%" scope="col">header text</th>
    <th width="15%" scope="col">alt 1</th>
    <th width="15%" scope="col">alt 2</th>
    <th width="15%" scope="col">alt 3</th>
    <th width="17%" scope="col">alt 4</th>
  </tr>
  <tr>
    <th scope="row">Xbox</th>
    <td width="12%" bgcolor="#1C3106">&nbsp;</td>
    <td width="15%" bgcolor="#E1EE68">&nbsp;</td>
    <td width="15%" bgcolor="#1C3106">&nbsp;</td>
    <td width="15%" bgcolor="#081401">&nbsp;</td>
    <td width="15%" bgcolor="#6C770F">&nbsp;</td>
    <td width="17%">&nbsp;</td>
  </tr>
  <tr>
    <th scope="row">PSX</th>
    <td width="12%" bgcolor="#6B6B6B">&nbsp;</td>
    <td width="15%" bgcolor="#FFFFFF">&nbsp;</td>
    <td width="15%" bgcolor="#6C6C6C">&nbsp;</td>
    <td width="15%" bgcolor="#000000">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="17%">&nbsp;</td>
  </tr>
  <tr>
    <th scope="row">PS3</th>
    <td width="12%" bgcolor="#4E0F16">&nbsp;</td>
    <td width="15%" bgcolor="#A0A3AE">&nbsp;</td>
    <td width="15%" bgcolor="#6D727A">&nbsp;</td>
    <td width="15%" bgcolor="#17171D">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="17%">&nbsp;</td>
  </tr>
  <tr>
    <th scope="row">pin</th>
    <td width="12%" bgcolor="#784821">&nbsp;</td>
    <td width="15%" bgcolor="#0E0B06">&nbsp;</td>
    <td width="15%" bgcolor="#787878">&nbsp;</td>
    <td width="15%" bgcolor="#000000"><div align="left"></div></td>
    <td width="15%">&nbsp;</td>
    <td width="17%">&nbsp;</td>
  </tr>
  <tr>
    <th scope="row">Mame</th>
    <td width="12%" bgcolor="#1A3965">&nbsp;</td>
    <td width="15%" bgcolor="#8CCAF9">&nbsp;</td>
    <td width="15%" bgcolor="#4E7DAB">&nbsp;</td>
    <td width="15%" bgcolor="#000000">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="17%">&nbsp;</td>
  </tr>
  <tr>
    <th scope="row">joy</th>
    <td width="12%" bgcolor="#1F2225">&nbsp;</td>
    <td width="15%" bgcolor="#B7C1BF">&nbsp;</td>
    <td width="15%" bgcolor="#68737A">&nbsp;</td>
    <td width="15%" bgcolor="#000000">&nbsp;</td>
    <td width="15%" bgcolor="#515C5D">&nbsp;</td>
    <td width="17%">&nbsp;</td>
  </tr>
  <tr>
    <th scope="row">wii</th>
    <td width="12%" bgcolor="#FFFFFF">&nbsp;</td>
    <td width="15%" bgcolor="#8F8C8E">&nbsp;</td>
    <td width="15%" bgcolor="#33D1F2">&nbsp;</td>
    <td width="15%" bgcolor="#000000">&nbsp;</td>
    <td width="15%" bgcolor="#88B738">&nbsp;</td>
    <td width="17%">&nbsp;</td>
  </tr>
  <tr>
    <th scope="row">windows</th>
    <td width="12%" bgcolor="#050EAA">&nbsp;</td>
    <td width="15%" bgcolor="#FFFFFF">&nbsp;</td>
    <td width="15%" bgcolor="#C9351F">&nbsp;</td>
    <td width="15%" bgcolor="#317C30">&nbsp;</td>
    <td width="15%" bgcolor="#E49130">&nbsp;</td>
    <td width="17%" bgcolor="#0068A5">&nbsp;</td>
  </tr>
  <tr>
    <th scope="row">KADE</th>
    <td width="12%" bgcolor="#CC0000">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="15%" bgcolor="#666666">&nbsp;</td>
    <td width="15%" bgcolor="#000000">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="17%">&nbsp;</td>
  </tr>
  <tr>
    <th scope="row">generic</th>
    <td width="12%" bgcolor="#000000">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="15%" bgcolor="#7D7D7D">&nbsp;</td>
    <td width="15%" bgcolor="#3F3F3F">&nbsp;</td>
    <td width="15%" bgcolor="#C1C1C1">&nbsp;</td>
    <td width="17%">&nbsp;</td>
  </tr>
  <tr>
    <th scope="row">Linux</th>
    <td width="12%" bgcolor="#DFB628">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="15%" bgcolor="#DA3F18">&nbsp;</td>
    <td width="15%" bgcolor="#000000">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="17%">&nbsp;</td>
  </tr>
  <tr>
    <th scope="row">android</th>
    <td width="12%" bgcolor="#A3BF45">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="15%" bgcolor="#666666">&nbsp;</td>
    <td width="15%" bgcolor="#000000">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="17%">&nbsp;</td>
  </tr>
  <tr>
    <th scope="row">&nbsp;</th>
    <td width="12%">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="17%">&nbsp;</td>
  </tr>
  <tr>
    <th scope="row">&nbsp;</th>
    <td width="12%">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="17%">&nbsp;</td>
  </tr>
  <tr>
    <th scope="row">table coding</th>
    <td width="12%">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="17%">&nbsp;</td>
  </tr>
  <tr>
    <th scope="row">input</th>
    <td width="12%" bgcolor="#B36C65">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="17%">&nbsp;</td>
  </tr>
  <tr>
    <th scope="row">note</th>
    <td width="12%" bgcolor="#D8DE8C">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="17%">&nbsp;</td>
  </tr>
  <tr>
    <th scope="row">not used</th>
    <td width="12%" bgcolor="#333333">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="15%">&nbsp;</td>
    <td width="17%">&nbsp;</td>
  </tr>
</table>
</body>
</html>
