<!DOCTYPE html>
<html><head>
<link href="css/mappingTablesAll.css" rel="stylesheet" type="text/css"><title>{title}</title>

</head>
<body>
<h2>{title}</h2>
<table id="pinmap">
<tbody>
<tr>
<th class="{system}">pin</th>
<th class="{system}">function</th>
<th class="{system}">shifted function</th>
<th class="{system}">customisable</th>
</tr>
<tr>
<td>A1</td>
<td {A1C}>{A1}</td>
<td>{A1S}</td>
<td>{A1M}</td>
</tr>
<tr class="alt">
<td>A2</td>
<td {A2C}>{A2}</td>
<td>{A2S} </td>
<td>{A2M}</td>
</tr>
<tr>
<td>A3</td>
<td {A3C}>{A3}</td>
<td>{A3S} </td>
<td>{A3M}</td>
</tr>
<tr class="alt">
<td>A4</td>
<td {A4C}>{A4}</td>
<td>{A4S} </td>
<td>{A4M}</td>
</tr>
<tr>
<td>A5</td>
<td {A5C}>{A5}</td>
<td>{A5S} </td>
<td>{A5M}</td>
</tr>
<tr class="alt">
<td>A6</td>
<td {A6C}>{A6}</td>
<td>{A6S} </td>
<td>{A6M}</td>
</tr>
<tr>
<td>A7</td>
<td {A7C}>{A7}</td>
<td>{A7S}</td>
<td>{A7M}</td>
</tr>
<tr class="alt">
<td>A8</td>
<td {A8C}>{A8}</td>
<td>{A8S}&nbsp;</td>
<td>{A8M}</td>
</tr>
<tr>
<td>A9</td>
<td {A9C}>{A9}</td>
<td>{A9S}</td>
<td>{A9M}</td>
</tr>
<tr class="alt">
<td class="alt">A10</td>
<td {A10C}>{A10}</td>
<td>{A10S}</td>
<td>{A10M}</td>
</tr>
<tr>
<td>B1</td>
<td {B1C}>{B1}</td>
<td>{B1S}</td>
<td>{B1M}</td>
</tr>
<tr class="alt">
<td>B2</td>
<td {B2C}>{B2}</td>
<td>{B2S}</td>
<td>{B2M}</td>
</tr>
<tr>
<td>B3</td>
<td {B3C}>{B3}</td>
<td>{B3S}&nbsp;</td>
<td>{B3M}</td>
</tr>
<tr class="alt">
<td>B4</td>
<td {B4C}>{B4}</td>
<td>{B4S}</td>
<td>{B4M}</td>
</tr>
<tr>
<td>B5</td>
<td {B5C}>{B5}</td>
<td>{B5S}</td>
<td>{B5M}</td>
</tr>
<tr class="alt">
<td>B6</td>
<td {B6C}>{B6}</td>
<td>{B6S}</td>
<td>{B6M}</td>
</tr>
<tr>
<td>B7</td>
<td {B7C}>{B7}</td>
<td> {B7S}</td>
<td>{B7M}</td>
</tr>
<tr class="alt">
<td>B8</td>
<td {B8C}>{B8}</td>
<td>{B8S}</td>
<td>{B8M}</td>
</tr>
<tr>
<td>B9</td>
<td {B9C}>{B9}</td>
<td>{B9S}</td>
<td>{B9M}</td>
</tr>
<tr class="alt">
<td>B10</td>
<td {B10C}>{B10}</td>
<td>{B10S}</td>
<td>{B10M}</td>
</tr>
<tr>
<td>HWB</td>
<td>Shift</td>
<td class="notused">&nbsp;</td>
<td>No</td>
</tr>
<tr class="alt">
<td>+5V</td>
<td>+5V Power</td>
<td class="notused">&nbsp;</td>
<td>No</td>
</tr>
<tr>
<td>RST</td>
<td>Reset</td>
<td class="notused">&nbsp;</td>
<td>No</td>
</tr>
<tr class="alt">
<td>Ground</td>
<td>Ground</td>
<td class="notused">&nbsp;</td>
<td>No</td>
</tr>
</tbody>
</table>
<h3>Notes</h3>
{notes}
</body></html>